.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.logo {
    position: relative;
    display: inline-block; /* Shrink-wrap around content */
}

.logo h1 {
    position: relative; /* Makes sure it's above the image */
    padding: 10px 30px;
    font-size: 40px;
    font-weight: 500;
    z-index: 1; /* Ensures it's above the image */
    color: white;
}

.logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the image behind the text */
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

/* .nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    text-decoration: none;
    text-decoration-color: #DA7C25;
} */
.anchor-link {
    text-decoration: none;
    color: white; /* keeps it consistent with parent li styles */
  }
  
.nav-menu li {
    position: relative;
    cursor: pointer;
    padding-bottom: 5px;
    transition: color 0.3s;
  }
  
  .nav-menu li.active p {
    color: #da7c25; /* Optional: highlight active text */
    text-decoration: none;
  }
  
  .nav-menu li.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(90deg, #da7c25, #b923e1);
    border-radius: 2px;
  }
  
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient( 267deg ,  #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}

.nav-mob-open,
.nav-mob-close {
  display: none; /* Hide by default */
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
  transition: right 0.5s;
  text-decoration: none;
}

@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 0;
    right: -300px; /* Hidden by default */
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
    width: 250px;
    height: 100vh;
    padding: 30px 20px;
    gap: 30px;
    transition: right 0.3s ease;
    z-index: 5;
  }

  .nav-menu.show-menu {
    right: 0; /* Slide in */
  }

  .nav-menu li {
    font-size: 20px;
    width: 100%;
  }

  .nav-mob-close {
    display: block;
    width: 30px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
    top: 25px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 10;
  }

  .nav-connect {
    display: none;
  }
}
